@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

:root {
  --lineout: #ffffff;
  --ujung: #0feebe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.navbar {
  position: fixed;
  z-index: 99;
  padding: 1rem;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.397);
  border-bottom: 0.5px solid var(--lineout);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 1.1rem;
  font-family: Poppins;
  font-weight: 600;
  position: relative;
  transition: 200ms all ease-in-out;
}

.menu li span {
  transition: 200ms all ease-in-out;
}

.menu li a:hover {
  color: rgb(90, 214, 90);
  transform: scale(1.2);
}

.menu li:hover span {
  transform: scale(1.2);
}

.menu li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  background-color: rgb(90, 214, 90);
  height: 2px;
  left: 50%;
  border-radius: 10px;
  opacity: 0%;
  transition: 350ms all ease-in-out;
  transform: translateX(-50%);
}

.hamburger-menu {
  display: none;
  opacity: 0;
}

.menu li:hover a::before {
  width: 2rem;
  opacity: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  background-repeat: no-repeat;
  padding: 80px 1rem 1rem 1rem;
  background: url("Image/latar.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-element {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 2rem;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  height: 10%;
  background: linear-gradient(to bottom, #ffffff00, #000000);
}

.teks {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.selamat {
  font-size: 2.2rem;
  text-align: center;
  color: white;
}

.maulid {
  font-size: 2.7rem;
  text-align: center;
  width: fit-content;
  background: linear-gradient(
    45deg,
    var(--ujung),
    rgb(255, 187, 0),
    var(--ujung)
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tanggal {
  font-size: 1.7rem;
  text-align: center;
  color: rgb(255, 187, 0);
}
.hadis {
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.menu li span {
  color: white;
  display: none;
}

.menu li {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .selamat {
    font-size: 1.7rem;
  }

  .maulid {
    font-size: 2.2rem;
  }

  .image {
    display: none;
    justify-content: center;
  }
  .main-element {
    grid-template-columns: 1fr;
  }

  .hamburger-menu {
    display: block;
    opacity: 100%;
    z-index: 999;
  }
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-wrapper {
    flex-direction: column;
    transform: none;
  }

  @keyframes memunculkan {
    0% {
      opacity: 0;
      transform: translateX(40%);
    }
    33% {
      transform: translateX(-50%);
    }

    66% {
      opacity: 1;
      transform: translateX(20%);
    }
    100% {
      transform: translateX(0);
    }
  }

  #card1 {
    animation: memunculkan 1.5s ease-in-out !important;
  }
  #card2 {
    animation: memunculkan 2s ease-in-out !important;
  }
  #card3 {
    animation: memunculkan 2.5s ease-in-out !important;
  }

  .about .definisi {
    border-radius: 10px;
    padding: 1rem;
  }
  .menu li span {
    display: block;
  }

  .hamburger-menu button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 24px;
    transition: 200ms all ease-in-out;
  }
  .hamburger-menu:hover button {
    transform: scale(1.2);
    color: rgb(109, 109, 109);
  }
  .hero {
    background-size: cover;
  }

  .menu {
    flex-direction: column;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.904);
    position: absolute;
    right: -100%;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    height: 100vh;
    opacity: 50%;
    width: 300px;
    transition: all 300ms ease-in;
    gap: 2rem;
    top: 0;
  }

  .menu li {
    gap: 1rem;
  }

  .menu.active {
    right: 0;
    opacity: 100%;
  }
}

@keyframes muncul {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 100%;
    transform: translateY(0%);
  }
}

@media (min-width: 769px) and (max-width: 1088px) {
  .card-wrapper {
    display: flex !important;
    flex-wrap: nowrap !important; /* biar tidak turun ke bawah */
    padding: 1rem;

    gap: 1rem; /* kasih jarak antar card */
  }

  .definisi {
    border-radius: 10px !important;
  }

  .card-wrapper .card {
    flex: 0 0 auto; /* biar ukuran card tetap */
  }
}

.tombol a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
}

.tombol {
  border-radius: 15px;
  border: none;
  background-color: rgb(221, 150, 44);
  padding: 0.5rem;
  width: 50%;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  position: relative;
}

.tombol::after {
  content: "";
}

.bungkus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tombol:hover {
  background-color: rgb(219, 161, 75);
  transform: scale(1.2);
  display: inline-block;
}

.tombol:hover a {
  color: #1b1b1b;
}

.sejarah .judul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
.about {
  width: 100vw;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}

.card-wrapper {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@keyframes ayun {
  0% {
    opacity: 0;
    transform: translatey(40%);
  }
  33% {
    transform: translatey(-50%);
  }

  66% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}

.definisi {
  background-color: rgb(125, 165, 177);
  padding: 1.5rem;
  width: 50vw;
  color: white;
  border-radius: 100px;
  animation: datang 300ms ease-in-out;
  margin: 0.9rem;
}

@keyframes datang {
  from {
    transform: translateX(-25%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@scroll-timeline scroll-fade {
  source: auto; /* ikut scroll halaman */
  orientation: block;
  scroll-offsets: (start 80%, end 20%);
}

.definisi h2 {
  animation: muncul 1s ease-in-out;
  font-size: 2rem;
  text-align: center;
}

@keyframes muncullah {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.definisi p {
  animation: jelas 1.5s ease-in-out;
  font-size: 1.2rem;
}

@keyframes jelas {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sejarah {
  height: auto;
  max-width: 100vw;
  width: 100%;
  padding: 90px 1rem 1rem 1rem;
  background: linear-gradient(black, rgb(39, 97, 39));
}

.card-wrapper {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  overflow: visible;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  transform-origin: center center;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  z-index: 7;
  position: relative;

  background: transparent; /* hilangkan hitam */
}

.card:first-child {
  transform-origin: right center;
}
.card:last-child {
  transform-origin: left center;
}

.inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.card:hover .inner {
  transform: rotateY(180deg) scale(1.3);
  z-index: 99;
}
.card:hover {
  z-index: 99;
}

.depan,
.belakang {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

.depan {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.belakang {
  background-color: rgb(136, 136, 136);
  color: black;
  padding: 0.5rem;

  text-align: center;
  padding: 0;
  transform: rotateY(180deg);
}

.belakang p {
  font-size: 0.5rem;
}

footer.ujung {
  background-color: blue;
  color: white;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  display: grid;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.ujung .halo li {
  list-style: none;
}

.halo li a {
  color: white;
  text-decoration: none;
  display: flex;
}

.halo {
  padding: 1rem;
}

.bungkuss {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.halo li a button {
  background: linear-gradient(to left top, rgb(153, 62, 26), orange);
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
  width: 150px;
  transition: 300ms all ease-in-out;
}

.halo li a button:hover {
  transform: scale(1.05);
}
